/*this is a css file*/
body{
    background: linear-gradient(to right, orange, white, rgb(46, 43, 43));
    
}
h1 {
    color: rgb(0, 0, 0);
    text-align:center ;
    padding: 1.5rem;
    width: 30rem;
    margin-left: 25rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
}
p {
    font-family: sans-serif;
    font-size: 1.2rem;
}
a{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
}
button:hover{
    background-color: rgb(111, 0, 255);
}

nav{
    background-color: mintcream;
  text-align: center;
  padding: 2rem;
}

